body{
    
  background-color:antiquewhite;


}

.buy{

font-family: 'CARTOON FREE', sans-serif;
border: 4px solid #ffbb00;
border-radius: 12px;



}



.buy button{

  width: 70px; height: 33px;
border-radius: 12px;
background-color: rgb(250, 232, 182);
font-size: 12px;
font-family: 'CARTOON FREE', sans-serif;
color:rgb(0, 0, 0);




}

